node_modules/
dist/
.vscode/
backend/static/wallpapers/*
!backend/static/wallpapers/default.jpg
*.log
.DS_Store
Thumbs.db
# Python cache
__pycache__/
*.pyc
# IDE
.idea/
# OS
*.swp
dist_electron/
backend/.venv/
backend/app.spec
backend/build/
backend/app.exe
wallpaper_hoster/WallpaperHosterLively/bin
wallpaper_hoster/WallpaperHosterLively/obj
wallpaper_hoster/WallpaperHosterLively/out
AI-wallpaper.sln
wallpaper_hoster/python/build
wallpaper_hoster/python/dist
wallpaper_hoster/python/.venv
